body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(226, 43%, 10%);
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    margin: 0;
    background-color: hsl(226, 43%, 10%);
    box-sizing: border-box;
    color:white;
    font-family:Rubik;
    font-weight: 300;
}

h1{
    font-size:40px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.d-wh{
    color: hsl(235, 45%, 61%);
}

.active{
    color:white;
}

.time{
    height: 100vh;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap:20px
}

.person,.cards{
    grid-row-start:3;
}

.person{
    grid-row-end:11;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: hsl(235, 46%, 20%);
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.person::before{
    content:"";
    left: 0%;
    top: 0%;
    height: 70%;
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    border-radius: 10px;
    position: absolute;
}

.person .gen{
    position:absolute;
    left: 15%;
}
 
.person .gen h2{
    font-size:30px;
    margin-top:-25%;
}

.person .gen img{
    width: 60px;
    border:3px solid white;
    border-radius:50%;
    margin-bottom: 3px;
}
.selector{
    width: 100%;
    left: -5%;
    bottom:-1%;
    border-radius: 10px;
    position: absolute;
}
.selector li{
    text-align: left;
    cursor: pointer;
    padding:7px;
}
.list-style{
    list-style: none;
}

.cards{
    grid-column-start:4;
    grid-column-end:14;
    display:flex;
    justify-content: space-between;
}

.cards.up{
    grid-row-end:7;
}

.down{
    grid-row-start: 7 ;
    grid-row-end:11;
}

.title,.previous-t{
    text-transform:capitalize;
    margin-top:20%;
}

.card{
    padding:20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-basis:27%;
}

.more{
    position:absolute;
    right: 10%;
    transform: scale(0.99);
}
.top{
    left: 0%;
    top:0%;
    width: 100%;
    height: 20%;
    position: absolute;
    border-radius: 10px 10px 3px 3px;
    margin-bottom: 10px;
}
.pos{
    position: absolute;
    right: 5%;
    top:-11%;
    
}
.or{
    background-color: hsl(15, 100%, 70%);
}


.bg-darkblue{
   background-color:  hsl(235, 46%, 20%);
}


.previous-t{
    margin-top: -25px;
}

.bl{
    background-color:hsl(195, 74%, 62%);
}


.red-play{
    background-color: hsl(195, 74%, 62%);
}

.study-he-co{
    background-color: hsl(348, 100%, 68%);
}


@media screen and (max-width:375px){
    .container{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction:column;
    }
    .person {
        width: 85%;
    }
    .person .gen{
        display:flex;
    }

    .selector ul {
        display: flex;
        justify-content: space-between;
    }

    .card,.person{
        flex-basis:100%;
   }
   .current,.previous-t{
       display: inline-block;
       position:absolute;
       bottom:-15%;
   }

   .current{
       left:5%;
   }
   .previous-t{
       right:5%;
   }
}


 /* Add New Card Styles */

 .my-form {
  padding: 2rem;
  background: #19dfce;
}

.my-form label {
  display: block;
}

.my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}